# NPM configuration for build reliability
# Increased timeouts to handle slower network connections
fetch-timeout=120000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=3

# Use exact versions to avoid unexpected updates
save-exact=true
